@import 'typography.scss';
@import 'decoration.scss';
@import 'reset.scss';
@import 'images.scss';

.project{
   margin-bottom: 5em;
   margin-top: 5em;
}

.main{
   // background-color: blue;
   margin-top: 20em;

}
.container{
   // outline: 1px solid red;
}
#navbar{
   overflow: hidden;
   background-color: white;
   padding-top: 60px; /* Large padding which will shrink on scroll (using JS) */
   transition: 0.4s; /* Adds a transition effect when the padding is decreased */
   position: fixed; /* Sticky/fixed navbar */
   width: 80%;
   margin: auto;
   top: 0; /* At the top */
   z-index: 99;
}
#navbar #home-intro-text{
   // padding: 90px 10px;
   // transition: 0.4s; /* Adds a transition effect when the padding is decreased */
}
