//Creating a mixin:
// @mixin font-header{
//   font-family: $font;
// }

//Importing a mixin:
// .font-header{
//   @include font-header;
// }

//Typography variables:
$font: 'Spectral';
$lineSpacing: 250%;

//General Typography Styles:
body{
   font-family: $font;
}
ul{
   text-decoration: none;
   list-style-type: none;
   li{
      display: inline-block;
   }
}


//Main Typography Mixins:
@mixin text-header{
   font-size: 4em;
}

@mixin text-subheader{
   // font-size: 1.2em;
   font-size: 0.4em;
}

@mixin text-intro{
   line-height: $lineSpacing;
   font-size: 1.2em;
}

@mixin text-link{
   font-size: 0.8em;
}

@mixin text-paragraph{
   font-size: 1em;
   line-height: $lineSpacing;
}


//Main Typography Classes
.home-intro{
   @include text-intro;
   // width: 50%;
}
.project-number{
   @include text-header;
}
.project-name{
   @include text-subheader;
}
.project-paragraph{
   @include text-paragraph;
}
.project-link{
   @include text-link;
}


//Home Page Project Text Classes
@mixin project-text{
   position: absolute;
   width: 35% !important;
}

@mixin project-text-left{
   @include project-text;
   left: 12%;
}
@mixin project-text-right{
   @include project-text;
   right: 12%;
}
.projectOne-text{
   @include project-text-left;
   top: 22em;
}
.projectTwo-text{
   @include project-text-right;
   top: 58em;
}
.projectThree-text{
   @include project-text-left;
   top: 90em;
}
.projectFour-text{
   @include project-text-right;
   top: 125em;
}
